# Node modules
node_modules/

# Build output
dist/

# Cached files
.cache/

# Environment variables
.env

# IDE-specific files
.idea/
.vscode/

# Package and configuration files
package-lock.json
package.json
tsconfig.app.json
tsconfig.app.tsbuildinfo
tsconfig.json
tsconfig.node.json
tsconfig.node.tsbuildinfo
eslint.config.json
vite.config.js

# gatekeeping
src/assets
src/components/Piano.tsx
src/components/PianoHome.tsx 